name=reseed
signer=hankhill19580@gmail.com
consoleLinkName=reseed
consoleLinkURL=http://127.0.0.1:7663/index.html
consoleLinkTooltip=Reseed Plugin
icon-code=
description=Reseed Bundling Tool
author=backup/idk
updateURL=http://idk.i2p/plugin/reseed-update.xpi2p
updateURL.su3=http://idk.i2p/plugin/reseed-update.su3
websiteURL=http://idk.i2p/i2p.plugins.reseed
license=MIT
min-jetty-version=9
min-i2p-version=0.9.31
